// Your styles go here

@import "variables";

$background1: #0d6efd;
$background2: #fff;
$color: #333;
$Width: 100%;
$margin: 0;
body {
  background: #202020 url("/images/footer-bg.jpg") repeat;
  min-width: 1200px;
  margin: $margin;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

@mixin ulStyle {
  margin: $margin;
  padding: 0;
  list-style: none;
}

strong,
b {
  font-weight: bold;
  color: #000000;
}

em,
i {
  font-style: italic;
}

a {
  color: $background1;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

header {
  margin-bottom: 2em;
  line-height: 1.7em;
  h2 {
    font-size: 2.5em;
  }

  .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1.4em;
  }
}

section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child {
  margin-bottom: 0;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: $margin;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

.row section,
.row article {
  margin-bottom: 0;
}

.row [class*="column-"] {
  padding: 50px 0 0 50px;
  float: left;
  box-sizing: border-box;
}

.row {
  margin-left: -50px;

  &::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
  }
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  width: $Width;
}

$column-kinds: 1 2 3 4 5 6 7 8 9 10 11 12;

@mixin make-width($Width) {
  @media all and (min-width: 576px) {
    width: $Width;
  }
}
.column {
  @include make-width($Width);
  @each $kind in $column-kinds {
    $ndx: index($column-kinds, $kind);
    &-#{$kind} {
      @include make-width(($Width/12) * $kind);
    }
  }
}

@mixin make-image {
  display: block;
  width: $Width;
}
.image {
  display: inline-block;

  img {
    @include make-image;
  }

  .featured {
    @include make-image;
    margin: 0 0 2em 0;
  }

  .full {
    @include make-image;
    margin-bottom: 2em;
  }

  .left {
    float: left;
    margin: 0 2em 2em 0;
  }

  .centered {
    display: block;
    margin: 0 0 2em 0;
  }
  .centered img {
    margin: $margin auto;
    width: auto;
  }
}

ul.default {
  @include ulStyle;
  li {
    display: block;
    padding: 2em 0em 1.25em 0em;
    border-top: 1px solid #303030;
    :first-child {
      padding-top: 0em;
      border-top: none;
    }
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    a:hover {
      text-decoration: underline;
    }
  }
}

ul.style1 {
  @include ulStyle;
  li {
    padding: 0.6em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    :first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

ul.style2 {
  @include ulStyle;
  li {
    padding: 1.9em 0em 1.6em 0em;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    :first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
  img {
    float: left;
    padding-right: 1em;
  }
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: none;
  li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}

.button {
  position: relative;
  display: inline-block;
  margin-top: 0.5em;
  padding: 0.5em 1.5em;
  background: $background1;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  color: $background2;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;
  :hover {
    background: $background1;
    color: $background2 !important;
  }
}

.header {
  position: relative;
  background: $background2;
  .container {
    position: relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;
  a {
    display: block;
    text-decoration: none;
    font-size: 2.8em;
    font-weight: 600;
  }
}

.nav {
  position: absolute;
  right: 0em;
  top: 2.2em;

  ul {
    list-style-type: none;
    li {
      float: left;
      last-child {
        padding-right: 0;
      }
      a,
      span {
        display: block;
        margin-left: 0.7em;
        padding: 0.8em 1.2em;
        letter-spacing: 0.06em;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1em;
        outline: 0;
        color: $color;
      }
      .active,
      a {
        background: $background1;
        border-radius: 5px;
        color: $background2;
      }
    }
  }
}

.banner {
  position: relative;
  padding: 12em 0em;
  background: url("/images/banner.jpg") no-repeat center;
  background-size: cover;
  color: $background2;
}

.page {
  position: relative;
  background: $background2;
}

.main {
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $background2;
  }
  strong {
    color: rgba(255, 255, 255, 0.7);
  }
}

.copyright {
  position: relative;
  padding: 3em 0em;
  border-top: 1px solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4) !important;
  }
}

.marketing {
  position: relative;
  header > h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: relative;
  .divider {
    border-bottom: 1px solid #303030;
  }
  .box {
    background: $background2;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url("/images/balloon-bg.jpg") repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: $color;
  strong {
    color: $color !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}
